rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow read/write access to all documents
    // For a public game master app, this is acceptable
    // If you want to add authentication later, modify these rules
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
